@tailwind base;
@tailwind components;
@tailwind utilities;

.gridTemplate{
  grid-column: 1/8;
}
.topSquareLeft{
  grid-row: 2/6;
  grid-column: 1/7;
}
.topSquareRight{
  grid-row: 2/6;
  grid-column: 7/13;
}
.bottomSquareLeft{
  grid-row: 6/9;
  grid-column: 1/7;
}
.bottomSquareRight{
  grid-row: 6/9;
  grid-column: 7/13;
}
